<div class="grid-container">
    <div class="grid-row margin" data-md="35">
        <div class="grid-lg-3 grid-md-12 grid-sm-6 margin" data-mb="35">
            <div class=" widget_media_image">
                <div class="widget-content">
                    <a href="">
                        <img width="1" height="1" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%201%201'%3E%3C/svg%3E" class="image wp-image-9849 attachment-medium size-medium" alt="" style="max-width: 100%; height: auto;" data-lazy-src="public/img/HorizanL-nobg.png"
                        />
                        <noscript><img width="1"
                      height="1" src="public/img/HorizanL-nobg.png"
                      class="image wp-image-9849 attachment-medium size-medium" alt=""
                      style="max-width: 100%; height: auto;" /></noscript>
                    </a>
                </div>
            </div>
            <div class=" widget_social">
                <div class="widget-content">
                    <div class="social">
                        <a href="#" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="8" height="16" viewBox="0 0 8 16">
                         <path fill="#474B68" fill-rule="nonzero"
                            d="M2.148 3.747v2.074H.628v2.536h1.52v7.536h3.12V8.358h2.095s.196-1.216.291-2.546H5.281V4.078c0-.26.34-.608.676-.608h1.7V.83H5.347C2.07.83 2.148 3.37 2.148 3.747z">
                          </path>
                      </svg>
                        </a>
                        <a href="#" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="11" viewBox="0 0 15 11">
                         <g fill="#474B68" fill-rule="nonzero">
                            <path
                               d="M0 0h2.813v10.313H0zM11.033 0c-1.609 0-2.688.834-3.13 1.625H7.86V.25H4.688v10.063h3.304V5.335c0-1.313.264-2.584 1.985-2.584 1.696 0 1.718 1.501 1.718 2.668v4.893H15V4.793C15 2.084 14.382 0 11.033 0z">
                              </path>
                          </g>
                      </svg>
                        </a>
                        <a href="#" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="10" viewBox="0 0 16 10">
                         <path fill="#474B68" fill-rule="nonzero"
                            d="M14.461 1.765H10.68v-.92h3.783v.92zm-6.3 3.768c.245.37.367.819.367 1.346 0 .545-.138 1.034-.418 1.466a2.595 2.595 0 0 1-1.724 1.183c-.408.083-.85.124-1.326.124H.83V.464h4.536c1.143.019 1.954.343 2.432.979.288.39.43.859.43 1.403 0 .562-.144 1.011-.434 1.353-.161.191-.4.365-.715.522.478.172.84.441 1.083.812zM2.997 4.087h1.988c.408 0 .738-.076.992-.228.255-.152.381-.421.381-.808 0-.427-.168-.711-.504-.848-.29-.094-.66-.143-1.109-.143H2.996v2.027zm3.553 2.66c0-.476-.2-.806-.598-.983-.222-.101-.536-.153-.939-.156H2.996v2.448h1.985c.408 0 .723-.052.951-.16.41-.201.617-.582.617-1.148zm9.316-1.494c.045.3.066.737.058 1.307h-4.899c.028.661.26 1.124.704 1.388.267.166.59.248.97.248.399 0 .725-.1.975-.302.137-.108.257-.26.362-.452h1.795c-.047.39-.263.787-.652 1.19-.602.64-1.446.96-2.53.96-.895 0-1.685-.27-2.37-.81-.683-.54-1.025-1.418-1.025-2.636 0-1.142.307-2.016.925-2.624.62-.61 1.42-.913 2.407-.913a3.91 3.91 0 0 1 1.582.308c.469.206.856.53 1.161.975.276.392.454.845.537 1.361zm-1.767.172c-.033-.458-.19-.804-.47-1.04-.28-.238-.627-.357-1.043-.357-.452 0-.801.127-1.05.378-.25.25-.405.589-.468 1.019h3.03z">
                          </path>
                        </svg>
                        </a>
                        <a href="#" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
                         <g fill="#474B68" fill-rule="nonzero">
                            <path
                               d="M11.846.83H4.91A4.083 4.083 0 0 0 .83 4.91v6.937a4.083 4.083 0 0 0 4.079 4.079h6.937a4.083 4.083 0 0 0 4.079-4.079V4.91A4.083 4.083 0 0 0 11.846.83zm2.86 11.016a2.862 2.862 0 0 1-2.86 2.86H4.91a2.862 2.862 0 0 1-2.86-2.86V4.91a2.862 2.862 0 0 1 2.86-2.86h6.937a2.862 2.862 0 0 1 2.86 2.86v6.937z"></path>
                            <path
                               d="M11.755 7.85a3.361 3.361 0 0 0-.954-1.896 3.382 3.382 0 0 0-5.112.377 3.363 3.363 0 0 0-.63 2.513 3.363 3.363 0 0 0 1.332 2.222 3.36 3.36 0 0 0 2.513.63 3.363 3.363 0 0 0 2.222-1.332 3.362 3.362 0 0 0 .63-2.513zm-3.03 2.64a2.15 2.15 0 0 1-1.608-.404 2.151 2.151 0 0 1-.851-1.421 2.151 2.151 0 0 1 .402-1.608 2.151 2.151 0 0 1 2.057-.851c.95.14 1.683.874 1.824 1.824a2.168 2.168 0 0 1-1.824 2.46zM12.624 4.13a.614.614 0 0 0-1.04.431.614.614 0 0 0 .609.61.614.614 0 0 0 .61-.61.614.614 0 0 0-.179-.43z"></path>
                         </g>
                      </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-lg-3 grid-md-12 grid-sm-6 margin" data-mb="35">
            <div class="widget_text widget_custom_html">
                <div class="widget_text widget-content">
                    <div class="textwidget custom-html-widget">
                        <ul class="footer-content">
                            <li class="icon-box">
                                <img class="preview icon ls-is-cached lazyloaded" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2017%2011'%3E%3C/svg%3E" alt="info@horizan.com" width="17" height="11" data-lazy-src="assets/uploads/2018/10/IC-Gmail.svg">
                                <noscript><img
                            class="preview icon ls-is-cached lazyloaded"
                            src="assets/uploads/2018/10/IC-Gmail.svg" alt="info@horizan.com"
                            width="17" height="11"></noscript>
                                <p> <a href="#"><span >info@horizan.com</span></a></p>
                            </li>
                            <li class="icon-box">
                                <img class="preview icon ls-is-cached lazyloaded" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2017%2011'%3E%3C/svg%3E" alt="(+84) 901 131 212" width="17" height="11" data-lazy-src="assets/uploads/2018/10/IC-phone.svg">
                                <noscript><img
                            class="preview icon ls-is-cached lazyloaded"
                            src="assets/uploads/2018/10/IC-phone.svg" alt="#"
                            width="17" height="11"></noscript>
                                <p> <a href="#">(+84) 000 000 000</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-lg-3 grid-md-12 grid-sm-6 margin" data-mb="35">
            <div class="widget_text widget_custom_html">
                <div class="widget_text widget-content">
                    <div class="textwidget custom-html-widget">
                        <ul class="footer-content">
                            <li class="icon-box">
                                <img class="preview icon ls-is-cached lazyloaded" src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%2019%2014'%3E%3C/svg%3E" alt="" width="19" height="14" data-lazy-src="assets/uploads/2020/07/ic-Viet-Nam.svg">
                                <noscript><img
                            class="preview icon ls-is-cached lazyloaded"
                            src="assets/uploads/2020/07/ic-Viet-Nam.svg" alt="" width="19"
                            height="14"></noscript>
                                <p><a target="_blank" href="https://www.google.com/maps/place/16+An+Nh%C6%A1n+3,+An+H%E1%BA%A3i+B%E1%BA%AFc,+S%C6%A1n+Tr%C3%A0,+%C4%90%C3%A0+N%E1%BA%B5ng+550000,+Vi%E1%BB%87t+Nam/@16.0690069,108.2339033,16z/data=!4m2!3m1!1s0x314218296f8c7485:0x614f71395b5a9824?hl=vi-VN"
                                        rel="noopener">Danang City, Vietnam</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-lg-3 grid-md-12 grid-sm-6 margin" data-mb="1">
            <div class=" widget_nav_menu">
                <div class="widget-content">
                    <div class="menu-footer-menu-container">
                        <ul id="menu-footer-menu" class="menu">
                            <li id="menu-item-9850" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-9850">
                                <a href="" aria-current="page">Home</a>
                            </li>
                            <li id="menu-item-9853" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9853">
                                <a href="company/">Company</a>
                            </li>
                            <li id="menu-item-9851" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-9851">
                                <a href="blogs/">Blogs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="grid-row">
        <div class="col text-center">
            <div class="widget widget_text">
                <div class="widget-content">
                    <div class="textwidget">
                        <p class="developer-copyrights"><a href="" target="blank" rel="noopener noreferrer"><span>© </span> HORIZAN GROUP 2021</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>