<div
  class="menu-modal cover-modal header-footer-group"
  data-modal-target-string=".menu-modal"
>
  <div class="menu-modal-inner modal-inner">
    <div class="menu-wrapper section-inner">
      <div class="menu-top">
        <button
          class="toggle close-nav-toggle fill-children-current-color"
          data-toggle-target=".menu-modal"
          data-toggle-body-class="showing-menu-modal"
          aria-expanded="false"
          data-set-focus=".menu-modal"
        >
          <svg
            width="23px"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512.001 512.001"
          >
            <g>
              <g>
                <path
                  d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717 L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859 c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287 l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285 L284.286,256.002z"
                ></path>
              </g>
            </g>
          </svg>
        </button>
        <nav class="mobile-menu" aria-label="Mobile" role="navigation">
          <ul class="modal-menu reset-list-style">
            <li
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-24"
            >
              <div class="ancestor-wrapper"><a href="" aria-current="page">Trang
                  chủ</a></div>
            </li>
            <li
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"
            >
              <div class="ancestor-wrapper"><a href="blog">Khám phá</a></div>
            </li>
            <li
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"
            >
              <div class="ancestor-wrapper"><a href="./frontend/company">Về công
                  ty</a></div>
            </li>
            <li
              class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"
            >
              <div class="ancestor-wrapper"><a href="./frontend/contact-us">Liên
                  lạc</a></div>
            </li>
            <!--
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20">
                                <div class="ancestor-wrapper"><a href="blogs/">Blogs</a></div>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19">
                                <div class="ancestor-wrapper"><a href="careers/">Careers</a></div>
                            </li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11629">
                                <div class="ancestor-wrapper"><a href="oneday-hiring/">Oneday Hiring</a></div>
                            </li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25">
                                <div class="ancestor-wrapper"><a href="contact-us">Contact Us</a></div>
                            </li>-->
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>