
        <div class="header-inner grid-container">
            <div class="header-titles-wrapper">
                <div class="header-titles">
                    <a href="">
                        <img src="public/img/HorizanL-nobg.svg" />
                    </a>
                </div>
                <button class="toggle search-toggle mobile-search-toggle" data-toggle-target=".search-modal" data-toggle-body-class="showing-search-modal" data-set-focus=".search-modal .search-field" aria-expanded="false">
                  <span class="toggle-inner">
                     <span class="toggle-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.005 512.005"
                           width="23px" height="23px" class="">
                           <g>
                              <g>
                                 <g>
                                    <path
                                       d="M508.885,493.784L353.109,338.008c32.341-35.925,52.224-83.285,52.224-135.339c0-111.744-90.923-202.667-202.667-202.667 S0,90.925,0,202.669s90.923,202.667,202.667,202.667c52.053,0,99.413-19.883,135.339-52.245l155.776,155.776 c2.091,2.091,4.821,3.136,7.552,3.136c2.731,0,5.461-1.045,7.552-3.115C513.045,504.707,513.045,497.965,508.885,493.784z M202.667,384.003c-99.989,0-181.333-81.344-181.333-181.333S102.677,21.336,202.667,21.336S384,102.68,384,202.669 S302.656,384.003,202.667,384.003z"
                                       fill="#363636" />
                                 </g>
                              </g>
                           </g>
                        </svg>
                     </span>
                  </span>
               </button>
                <button class="toggle nav-toggle mobile-nav-toggle" data-toggle-target=".menu-modal" data-toggle-body-class="showing-menu-modal" aria-expanded="false" data-set-focus=".close-nav-toggle">
                  <span class="toggle-inner">
                     <span class="toggle-icon">
                        <svg
                           xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                           <g>
                              <g>
                                 <path
                                    d="M492,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,236,492,236z" />
                              </g>
                           </g>
                           <g>
                              <g>
                                 <path
                                    d="M492,76H20C8.954,76,0,84.954,0,96s8.954,20,20,20h472c11.046,0,20-8.954,20-20S503.046,76,492,76z" />
                              </g>
                           </g>
                           <g>
                              <g>
                                 <path
                                    d="M492,396H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h472c11.046,0,20-8.954,20-20 C512,404.954,503.046,396,492,396z" />
                              </g>
                           </g>
                        </svg>
                     </span>
                  </span>
               </button>
            </div>
            <div class="header-navigation-wrapper">
                <nav class="primary-menu-wrapper" aria-label="Horizontal" role="navigation">
                    <ul class="primary-menu reset-list-style">
                        <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-5 current_page_item menu-item-24">
                            <a href="" aria-current="page">Home</a>
                        </li>
                        <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-23"><a href="blog.html">Blog</a></li>
                        <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-22"><a href="company.html">Company</a></li>
                        <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="contact-us.html">Contact us</a></li>
                        <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="login.html">Login</a></li>
                        <!--
                        <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="careers/">Careers</a></li>
                        <li id="menu-item-11629" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-11629"><a href="oneday-hiring/">Oneday Hiring</a></li>
                        <li id="menu-item-25" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-25"><a href="contact-us">Contact Us</a></li>
                        -->
                    </ul>
                </nav>
                <div class="header-toggles">
                    <div class="toggle-wrapper search-toggle-wrapper">
                        <button class="toggle search-toggle desktop-search-toggle" data-toggle-target=".search-modal" data-toggle-body-class="showing-search-modal" data-set-focus=".search-modal .search-field" aria-expanded="false">
                        <span class="toggle-inner">
                           <svg xmlns="http://www.w3.org/2000/svg"
                              viewBox="0 0 512.005 512.005" width="23px" height="23px" class="">
                              <g>
                                 <g>
                                    <g>
                                       <path
                                          d="M508.885,493.784L353.109,338.008c32.341-35.925,52.224-83.285,52.224-135.339c0-111.744-90.923-202.667-202.667-202.667 S0,90.925,0,202.669s90.923,202.667,202.667,202.667c52.053,0,99.413-19.883,135.339-52.245l155.776,155.776 c2.091,2.091,4.821,3.136,7.552,3.136c2.731,0,5.461-1.045,7.552-3.115C513.045,504.707,513.045,497.965,508.885,493.784z M202.667,384.003c-99.989,0-181.333-81.344-181.333-181.333S102.677,21.336,202.667,21.336S384,102.68,384,202.669 S302.656,384.003,202.667,384.003z"
                                          fill="#363636" />
                                    </g>
                                 </g>
                              </g>
                           </svg>
                        </span>
                     </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="search-modal cover-modal header-footer-group" data-modal-target-string="search-modal">
            <div class="search-modal-inner modal-inner">
                <div class="section-inner grid-container">
                    <form role="search" method="get" class="search-form" action="">
                        <label> <input type="search"
                        class="search-field" placeholder="Search &hellip;" value="" name="s" /> <input
                        type="hidden" name="post_type" value="post" /> </label>
                        <button type="submit" class="search-submit">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.005 512.005"
                           width="23px" height="23px" class="">
                           <g>
                              <g>
                                 <g>
                                    <path
                                       d="M508.885,493.784L353.109,338.008c32.341-35.925,52.224-83.285,52.224-135.339c0-111.744-90.923-202.667-202.667-202.667 S0,90.925,0,202.669s90.923,202.667,202.667,202.667c52.053,0,99.413-19.883,135.339-52.245l155.776,155.776 c2.091,2.091,4.821,3.136,7.552,3.136c2.731,0,5.461-1.045,7.552-3.115C513.045,504.707,513.045,497.965,508.885,493.784z M202.667,384.003c-99.989,0-181.333-81.344-181.333-181.333S102.677,21.336,202.667,21.336S384,102.68,384,202.669 S302.656,384.003,202.667,384.003z"
                                       fill="#363636" />
                                 </g>
                              </g>
                           </g>
                        </svg>
                     </button>
                    </form>
                    <button class="toggle search-untoggle close-search-toggle fill-children-current-color" data-toggle-target=".search-modal" data-toggle-body-class="showing-search-modal" data-set-focus=".search-modal .search-field" aria-expanded="false">
                     <svg width="23px"
                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.001 512.001">
                        <g>
                           <g>
                              <path
                                 d="M284.286,256.002L506.143,34.144c7.811-7.811,7.811-20.475,0-28.285c-7.811-7.81-20.475-7.811-28.285,0L256,227.717 L34.143,5.859c-7.811-7.811-20.475-7.811-28.285,0c-7.81,7.811-7.811,20.475,0,28.285l221.857,221.857L5.858,477.859 c-7.811,7.811-7.811,20.475,0,28.285c3.905,3.905,9.024,5.857,14.143,5.857c5.119,0,10.237-1.952,14.143-5.857L256,284.287 l221.857,221.857c3.905,3.905,9.024,5.857,14.143,5.857s10.237-1.952,14.143-5.857c7.811-7.811,7.811-20.475,0-28.285 L284.286,256.002z" />
                           </g>
                        </g>
                     </svg>
                  </button>
                </div>
            </div>
        </div>