<section data-bg="/assets/images/Im-2.svg" class="block-contact rocket-lazyload">
        <div class="bubbles_wrap">
            <div class="bubble x1"></div>
            <div class="bubble x5"></div>
            <div class="bubble x6"></div>
            <div class="bubble x3"></div>
        </div>
        <div class="grid-container">
            <div class="grid-row">
                <div class="grid-sm-12">
                    <div class="heading-title text-center">
                        <h2 class="fw800">TOGETHER</h2>
                        <h2 class="fw800"><span class="stroke">WE</span> GROW</h2>
                    </div>
                    <div class="block-button text-center"> <a href="recruitment" class="btn-contact">Apply Now </a>
                    </div>
                </div>
            </div>
        </div>
    </section>