.section-gma5caed1 {
    margin: 100px 0 50px 0
}

@media only screen and (min-width:768px) {
    .section-gma5caed1 {
        margin: 0 0 30px 0
    }
}

@media only screen and (min-width:992px) {
    .section-gma5caed1 {
        margin: 140px 0 100px 0
    }
}

@media only screen and (min-width:992px) {
    .section-gmacbce5a {
        padding: 0 0 80px 0
    }
}

.section-gm28d2deb {
    margin: 0 0 80px 0;
    padding: 60px 0 80px 0
}

@media only screen and (min-width:992px) {
    .section-gm28d2deb {
        margin: 0 0 115px 0;
        padding: 60px 0 80px 0
    }
}

.section-gm28d2deb {
    background-color: #f5f5f5
}

@media only screen and (min-width:992px) {
    .col-gme34024 {
        flex-basis: 33.33333333333333%;
        max-width: 33.33333333333333%
    }
}

@media only screen and (min-width:992px) {
    .col-gmb41cdb {
        flex-basis: 33.33333333333333%;
        max-width: 33.33333333333333%
    }
}

@media only screen and (min-width:992px) {
    .col-gm87d611 {
        flex-basis: 33.33333333333333%;
        max-width: 33.33333333333333%
    }
}

@media only screen and (min-width:992px) {
    .col-gm7b1ed0 {
        flex-basis: 33.33333333333333%;
        max-width: 33.33333333333333%
    }
}

@media only screen and (min-width:992px) {
    .col-gm37bcaf {
        flex-basis: 33.33333333333333%;
        max-width: 33.33333333333333%
    }
}

@media only screen and (min-width:992px) {
    .col-gmd0745e {
        flex-basis: 33.33333333333333%;
        max-width: 33.33333333333333%
    }
}

@media only screen and (min-width:992px) {
    .col-gmbac294 {
        flex-basis: 100%;
        max-width: 100%
    }
}

@media only screen and (min-width:992px) {
    .col-gmf1eff9 {
        flex-basis: 100%;
        max-width: 100%
    }
}

@media only screen and (min-width:992px) {
    .col-gm76d89d {
        flex-basis: 50%;
        max-width: 50%
    }
}

@media only screen and (min-width:992px) {
    .col-gm5ecadb {
        flex-basis: 50%;
        max-width: 50%
    }
}

@media only screen and (min-width:992px) {
    .col-gm0024ab {
        flex-basis: 8.333333333333332%;
        max-width: 8.333333333333332%
    }
}

@media only screen and (min-width:992px) {
    .col-gmd8ef36 {
        flex-basis: 83.33333333333334%;
        max-width: 83.33333333333334%
    }
}

@media only screen and (min-width:992px) {
    .col-gm369eb8 {
        flex-basis: 8.333333333333332%;
        max-width: 8.333333333333332%
    }
}

@media only screen and (min-width:992px) {
    .section-gma6e5009 {
        margin: 70px 0 70px 0
    }
}

@media only screen and (min-width:992px) {
    .col-gmbd8289 {
        flex-basis: 25%;
        max-width: 25%
    }
}

@media only screen and (min-width:992px) {
    .col-gmddb9a3 {
        flex-basis: 25%;
        max-width: 25%
    }
}

@media only screen and (min-width:992px) {
    .col-gmd388bf {
        flex-basis: 25%;
        max-width: 25%
    }
}

@media only screen and (min-width:992px) {
    .col-gmfa79d2 {
        flex-basis: 25%;
        max-width: 25%
    }
}