<div class="first-site">
  <div class="bubbles_wrap">
    <div class="cloud">
      <marquee
        direction="right"
        width="100%"
        scrolldelay="100"
        scrollamount="1.5"
        onmouseover="this.stop()"
        onmouseout="this.start()"
      ><img
          class="cloudimg"
          src="/images/Clound_3_bg.png"
          style="margin-top: -7%;"
        /></marquee>
      <marquee width="100%" scrolldelay="1" scrollamount="2.2"><img
          class="cloudimg"
          src="/images/Clound_3_bg.png"
        /></marquee>
    </div>
  </div>
  <section
    id="fullscreen"
    class="wp-block-gutentor-m3 section-gm166c5ee gutentor-module gutentor-container-cover"
  >
    <div class="grid-container">
      <div
        class="wp-slider enouvo-carousel layout3"
        data-slick='{"slidesToShow":1,"slidesToScroll":1,"arrows":false,"dots":true,"fade":true,"autoplay":false,"speed":"1500","responsive":[{"breakpoint":1199,"settings":{"arrows":false,"autoplay":true}}]}'
      >
        <div class="item">
          <div class="grid-row">
            <div class="grid-md-5">
              <div class="image rel margin alignright" data-mb="30">
                <figure>
                  <video loop autoplay muted width="470" height="470">
                    <source
                      src="/images/Animation-7-GIF.mp4"
                      type="video/mp4"
                    />
                    Your browser does not support HTML video.
                  </video>
                </figure>
              </div>
            </div>
            <div class="grid-md-7 alignright">
              <h2 class="title text-uppercase">S - Company
                <br />pioneering company in
                <span class="stroke">simulated Work - Skills </span>training
                platform.
              </h2>

            </div>
          </div>
        </div>
      </div>
      <!--<div class="item">
                            <div class="grid-row">
                                <div class="grid-md-5">
                                    <div class="image rel margin alignright" data-mb="30">
                                        <figure>
                                            <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="" data-lazy-src="content/uploads/2020/09/Kuuho-_Header-min.jpg">
                                            <noscript><img
                                       src="content/uploads/2020/09/Kuuho-_Header-min.jpg"
                                       alt=""></noscript>
                                        </figure>
                                    </div>
                                </div>
                                <div class="grid-md-7 alignright">
                                    <h2 class="title text-uppercase">Bring <span class="stroke">solutions</span><br> matching users' <span class="stroke">demands</span>
                                    </h2>
                                    <div class="content"> Bring the premium value united with a deep<br> understanding of customers' demands.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="grid-row">
                                <div class="grid-md-5">
                                    <div class="image rel margin alignright" data-mb="30">
                                        <figure>
                                            <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="" data-lazy-src="content/uploads/2020/09/Untitled-1-min.jpg">
                                            <noscript><img
                                       src="content/uploads/2020/09/Untitled-1-min.jpg"
                                       alt=""></noscript>
                                        </figure>
                                    </div>
                                </div>
                                <div class="grid-md-7 alignright">
                                    <h2 class="title text-uppercase"><span class="stroke">Connect</span> the physical
                                        <br>and the <span class="stroke">digital</span> world
                                    </h2>
                                    <div class="content"> Technological products simplify people's lives<br> with optimized solutions.
                                    </div>
                                </div>
                            </div>
                        </div>
                        -->
    </div>
    <!--
                    <div class="bubbles_wrap">
                        
                        <div class="bubble x1"></div>
                        <div class="bubble x2"></div>
                        <div class="bubble x3"></div>
                        <div class="bubble x5"></div>
                        <div class="bubble x6"></div>
                        <div class="cloud">
                            <marquee direction="right" scrolldelay="5" scrollamount="2" onmouseover="this.stop()" onmouseout="this.start()"><img src="content/Clound_3_bg.png" /></marquee>
                            <marquee direction="left" scrolldelay="5" scrollamount="2" onmouseover="this.stop()" onmouseout="this.start()"><img src="content/Clound_3_bg.png" /></marquee>
                        </div>
                    </div>-->
  </section>
</div>