<div class="first-site">
            <section id="fullscreen" class="wp-block-gutentor-m3 section-gm166c5ee gutentor-module gutentor-container-cover">
                <div class="grid-container">
                    <div class="bubbles_wrap">
                        <div class="cloud">
                            <marquee direction="right" width="100%" scrolldelay="100" scrollamount="1.5" onmouseover="this.stop()" onmouseout="this.start()"><img class="cloudimg" src="content/Clound_3_bg.png" style="margin-top: -7%;" /></marquee>
                            <marquee width="100%" scrolldelay="1" scrollamount="2.2"><img class="cloudimg" src="public/img/Clound_3_bg.png" /></marquee>
                        </div>
                    </div>
                    <div class="wp-slider horizan-carousel layout3" data-slick='{"slidesToShow":1,"slidesToScroll":1,"arrows":false,"dots":true,"fade":true,"autoplay":false,"speed":"1500","responsive":[{"breakpoint":1199,"settings":{"arrows":false,"autoplay":true}}]}'>
                        <div class="item">
                            <div class="grid-row">
                                <div class="grid-md-5">
                                    <div class="image rel margin alignright" data-mb="30">
                                        <figure>
                                            <video loop autoplay muted width="470" height="470">
                                       <source style="width: 470; height: 470;" src="public/img/Animation-6-GIF.mp4"
                                          type="video/mp4">
                                       Your browser does not support HTML video.
                                    </video>
                                        </figure>
                                    </div>
                                </div>
                                <div class="grid-md-7 alignright">
                                    <h2 class="title text-uppercase">
                                        <br><br>S - Company <br>pioneering company in <span class="stroke">simulated Soft - Skill </span>training platform.
                                    </h2>
                                    <div class="content">- A <br> - B
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="service" class="wp-block-gutentor-m3 section-gme89573a gutentor-module gutentor-container-cover block-service">
                <div class="grid-container">
                    <div class="round_shapServiceTop"></div>
                    <div class="heading-title text-left ihClgQ center-xs">
                        <h2 class="fw800"><span class="stroke">OUR</span> Services</h2>
                    </div>
                    <section id="gm3aeb9c6" class="wp-block-gutentor-m4 section-gm3aeb9c6 gutentor-module gutentor-advanced-columns">
                        <div class="grid-container">
                            <div class="grid-row">
                                <div id="col-gme34024" class="wp-block-gutentor-m4-col col-gme34024 gutentor-single-column grid-lg-4 grid-md-4 grid-12">
                                    <div id="section-gme34024" class="section-gme34024 gutentor-col-wrap">
                                        <div class="service-box text-center style1">
                                            <div class="icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="31" height="52" viewBox="0 0 31 52">
                                          <g fill="#00ddff" fill-rule="nonzero">
                                             <path
                                                d="M29.125 40.375H2.042a1.25 1.25 0 0 0 0 2.5h27.083a1.25 1.25 0 0 0 0-2.5zM13.813 45.792a1.77 1.77 0 1 0 3.541 0 1.77 1.77 0 0 0-3.541 0z">
                                             </path>
                                             <path
                                                d="M4.042.792h23.083a3.25 3.25 0 0 1 3.25 3.25v43.916a3.25 3.25 0 0 1-3.25 3.25H4.042a3.25 3.25 0 0 1-3.25-3.25V4.042a3.25 3.25 0 0 1 3.25-3.25zm0 2.5a.75.75 0 0 0-.75.75v43.916c0 .415.335.75.75.75h23.083a.75.75 0 0 0 .75-.75V4.042a.75.75 0 0 0-.75-.75H4.042z">
                                             </path>
                                          </g>
                                       </svg>
                                            </div>
                                            <div class="service-title fw600"> MOBILE DEVELOPMENT</div>
                                        </div>
                                    </div>
                                </div>
                                <div id="col-gmb41cdb" class="wp-block-gutentor-m4-col col-gmb41cdb gutentor-single-column grid-lg-4 grid-md-4 grid-12">
                                    <div id="section-gmb41cdb" class="section-gmb41cdb gutentor-col-wrap">
                                        <div class="service-box text-center style1">
                                            <div class="icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
                                          <g fill="#00ddff" fill-rule="nonzero">
                                             <path
                                                d="M20.938 47.188a19.863 19.863 0 0 0 2.185-8.06 1.25 1.25 0 0 0-2.496-.132 17.362 17.362 0 0 1-2.915 8.746 1.25 1.25 0 0 0 1.038 1.946h12.5c1 0 1.595-1.116 1.038-1.946a17.362 17.362 0 0 1-2.915-8.746 1.25 1.25 0 0 0-2.496.133c.15 2.819.898 5.565 2.185 8.059h-8.124z">
                                             </path>
                                             <path
                                                d="M14.063 49.688h21.874a1.25 1.25 0 0 0 0-2.5H14.064a1.25 1.25 0 0 0 0 2.5zM1.563 30.938h46.874a1.25 1.25 0 0 0 0-2.5H1.563a1.25 1.25 0 0 0 0 2.5z">
                                             </path>
                                             <path
                                                d="M3.063.313h43.874a2.75 2.75 0 0 1 2.75 2.75v34.5a2.75 2.75 0 0 1-2.75 2.75H3.063a2.75 2.75 0 0 1-2.75-2.75v-34.5a2.75 2.75 0 0 1 2.75-2.75zm0 2.5a.25.25 0 0 0-.25.25v34.5c0 .138.111.25.25.25h43.874a.25.25 0 0 0 .25-.25v-34.5a.25.25 0 0 0-.25-.25H3.063z">
                                             </path>
                                          </g>
                                       </svg>
                                            </div>
                                            <div class="service-title fw600"> WEB DEVELOPMENT</div>
                                        </div>
                                        <p></p>
                                    </div>
                                </div>
                                <div id="col-gm87d611" class="wp-block-gutentor-m4-col col-gm87d611 gutentor-single-column grid-lg-4 grid-md-4 grid-12">
                                    <div id="section-gm87d611" class="section-gm87d611 gutentor-col-wrap">
                                        <div class="service-box text-center style1">
                                            <div class="icon">
                                                <svg width="51px" height="51px" viewBox="0 0 51 51" xmlns="http://www.w3.org/2000/svg">
                                          noun_bézier_1536992
                                          <g
                                             fill="none" fill-rule="evenodd">
                                             <g fill="#00ddff" fill-rule="nonzero">
                                                <g>
                                                   <path
                                                      d="M25.4081633,21.0204082 C25.2040816,20.6122449 24.8979592,20.4081633 24.4897959,20.4081633 C24.0816327,20.4081633 23.7755102,20.6122449 23.5714286,21.0204082 C11.2244898,48.1632653 10.6122449,47.6530612 11.5306122,48.6734694 C12.3469388,49.5918367 12.5510204,48.7755102 24.4897959,45 C37.1428571,49.1836735 36.8367347,49.3877551 37.4489796,48.6734694 C37.755102,48.3673469 37.755102,47.9591837 37.6530612,47.5510204 L25.4081633,21.0204082 Z M24.1836735,42.9591837 L14.1836735,46.3265306 L24.4897959,23.877551 L34.7959184,46.2244898 C24.0816327,42.6530612 24.6938776,42.755102 24.1836735,42.9591837 Z">
                                                   </path>
                                                   <path
                                                      d="M45.9183673,25.6122449 C45.9183673,25.6122449 45.9183673,25.5102041 45.9183673,25.5102041 C45.9183673,15.6122449 39.0816327,7.04081633 29.5918367,4.69387755 L29.5918367,1.53061224 C29.5918367,0.714285714 28.877551,0 28.0612245,0 L20.9183673,0 C20.1020408,0 19.3877551,0.714285714 19.3877551,1.53061224 L19.3877551,4.69387755 C9.89795918,7.04081633 3.06122449,15.6122449 3.06122449,25.5102041 C3.06122449,25.5102041 3.06122449,25.6122449 3.06122449,25.6122449 C1.32653061,26.0204082 0,27.6530612 0,29.5918367 C0,31.8367347 1.83673469,33.6734694 4.08163265,33.6734694 C6.32653061,33.6734694 8.16326531,31.8367347 8.16326531,29.5918367 C8.16326531,27.6530612 6.83673469,26.122449 5.10204082,25.6122449 C5.10204082,25.6122449 5.10204082,25.5102041 5.10204082,25.5102041 C5.10204082,16.7346939 11.0204082,9.08163265 19.3877551,6.83673469 C19.4897959,7.34693878 18.7755102,10.2040816 20.9183673,10.2040816 L28.0612245,10.2040816 C30.2040816,10.2040816 29.4897959,7.44897959 29.5918367,6.83673469 C37.9591837,9.08163265 43.877551,16.7346939 43.877551,25.5102041 C43.877551,25.5102041 43.877551,25.6122449 43.877551,25.6122449 C42.1428571,26.0204082 40.8163265,27.6530612 40.8163265,29.5918367 C40.8163265,31.8367347 42.6530612,33.6734694 44.8979592,33.6734694 C47.1428571,33.6734694 48.9795918,31.8367347 48.9795918,29.5918367 C48.9795918,27.6530612 47.6530612,26.122449 45.9183673,25.6122449 Z M6.12244898,29.5918367 C6.12244898,30.7142857 5.20408163,31.6326531 4.08163265,31.6326531 C2.95918367,31.6326531 2.04081633,30.7142857 2.04081633,29.5918367 C2.04081633,26.9387755 6.12244898,26.9387755 6.12244898,29.5918367 Z M27.5510204,8.16326531 L21.4285714,8.16326531 L21.4285714,2.04081633 L27.5510204,2.04081633 L27.5510204,8.16326531 Z M44.8979592,31.6326531 C43.7755102,31.6326531 42.8571429,30.7142857 42.8571429,29.5918367 C42.8571429,28.4693878 43.7755102,27.5510204 44.8979592,27.5510204 C46.0204082,27.5510204 46.9387755,28.4693878 46.9387755,29.5918367 C46.9387755,30.7142857 46.0204082,31.6326531 44.8979592,31.6326531 Z">
                                                   </path>
                                                </g>
                                             </g>
                                          </g>
                                       </svg>
                                            </div>
                                            <div class="service-title fw600"> PRODUCT DESIGN &amp; DEVELOPMENT</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section id="gmb91fe57" class="wp-block-gutentor-m4 section-gmb91fe57 gutentor-module gutentor-advanced-columns">
                        <div class="grid-container">
                            <div class="grid-row">
                                <div id="col-gm7b1ed0" class="wp-block-gutentor-m4-col col-gm7b1ed0 gutentor-single-column grid-lg-4 grid-md-4 grid-12">
                                    <div id="section-gm7b1ed0" class="section-gm7b1ed0 gutentor-col-wrap">
                                        <div class="service-box text-center style1">
                                            <div class="icon">
                                                <svg width="50px" height="50px" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                                          QUALITY ASSURANCE 
                                          <g fill="none"
                                             fill-rule="evenodd">
                                             <g>
                                                <rect x="0" y="0" width="50" height="50"></rect>
                                                <g fill="#00ddff" fill-rule="nonzero">
                                                   <polygon
                                                      points="1.41266646 15.6297507 47.7948557 15.6297507 47.7948557 13.3019155 1.41266646 13.3019155">
                                                   </polygon>
                                                   <polygon
                                                      points="17.5751307 14.6481145 25.5870615 1.7807927 23.6204606 0.547042508 15.0673239 14.2835517 23.4865093 44.7066583 25.7210128 44.0836275">
                                                   </polygon>
                                                   <polygon
                                                      points="8.65806297 1.68443738 15.28409 14.9863529 17.3583646 13.9453133 10.7323375 0.643397828">
                                                   </polygon>
                                                   <path
                                                      d="M49.2075222,14.5385284 L24.6037611,46.2909575 L-4.61852778e-14,14.5385284 L9.05251978,7.81597009e-14 L40.1550024,7.81597009e-14 L49.2075222,14.5385284 Z M46.3821892,14.3931377 L38.8696414,2.32783521 L10.3378807,2.32783521 L2.82533292,14.3931377 L24.6037611,42.4993283 L46.3821892,14.3931377 Z">
                                                   </path>
                                                   <polygon
                                                      points="31.6323915 14.6481145 23.4865093 44.0836275 25.7210128 44.7066583 34.1401982 14.2835517 25.5870615 0.547042508 23.6204606 1.7807927">
                                                   </polygon>
                                                   <polygon
                                                      points="38.4751846 0.643397828 31.8491576 13.9453133 33.9234322 14.9863529 40.5494592 1.68443738">
                                                   </polygon>
                                                </g>
                                             </g>
                                          </g>
                                       </svg>
                                            </div>
                                            <div class="service-title fw600"> QUALITY ASSURANCE</div>
                                        </div>
                                    </div>
                                </div>
                                <div id="col-gm37bcaf" class="wp-block-gutentor-m4-col col-gm37bcaf gutentor-single-column grid-lg-4 grid-md-4 grid-12">
                                    <div id="section-gm37bcaf" class="section-gm37bcaf gutentor-col-wrap">
                                        <div class="service-box text-center style1">
                                            <div class="icon">
                                                <svg width="50px" height="50px" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                                          BRANDING 
                                          <g fill="none"
                                             fill-rule="evenodd">
                                             <g>
                                                <g>
                                                   <g>
                                                      <path
                                                         d="M13.1706148,24.5443263 C12.9431284,24.2190208 12.9431284,23.7809792 13.1706148,23.4556737 C13.317412,23.2457536 13.583889,22.893451 13.9566608,22.4456774 C14.57422,21.7038654 15.2704484,20.9624562 16.0333568,20.2682095 C18.2672046,18.235408 20.6121349,17 23,17 C25.3878651,17 27.7327954,18.235408 29.9666432,20.2682095 C30.7295516,20.9624562 31.42578,21.7038654 32.0433392,22.4456774 C32.416111,22.893451 32.682588,23.2457536 32.8293852,23.4556737 C33.0568716,23.7809792 33.0568716,24.2190208 32.8293852,24.5443263 C32.682588,24.7542464 32.416111,25.106549 32.0433392,25.5543226 C31.42578,26.2961346 30.7295516,27.0375438 29.9666432,27.7317905 C27.7327954,29.764592 25.3878651,31 23,31 C20.6121349,31 18.2672046,29.764592 16.0333568,27.7317905 C15.2704484,27.0375438 14.57422,26.2961346 13.9566608,25.5543226 C13.583889,25.106549 13.317412,24.7542464 13.1706148,24.5443263 Z M15.3387937,24.3415108 C15.9049467,25.0215737 16.5439455,25.7020395 17.2393705,26.3348762 C19.1721893,28.0937413 21.1454409,29.1333333 23,29.1333333 C24.8545591,29.1333333 26.8278107,28.0937413 28.7606295,26.3348762 C29.4560545,25.7020395 30.0950533,25.0215737 30.6612063,24.3415108 C30.7598381,24.2230342 30.8525707,24.108949 30.9391675,24 C30.8525707,23.891051 30.7598381,23.7769658 30.6612063,23.6584892 C30.0950533,22.9784263 29.4560545,22.2979605 28.7606295,21.6651238 C26.8278107,19.9062587 24.8545591,18.8666667 23,18.8666667 C21.1454409,18.8666667 19.1721893,19.9062587 17.2393705,21.6651238 C16.5439455,22.2979605 15.9049467,22.9784263 15.3387937,23.6584892 C15.2401619,23.7769658 15.1474293,23.891051 15.0608325,24 C15.1474293,24.108949 15.2401619,24.2230342 15.3387937,24.3415108 Z"
                                                         fill="#00ddff" fill-rule="nonzero"></path>
                                                      <path
                                                         d="M23.5,26 C25.9852814,26 28,23.9852814 28,21.5 C28,19.0147186 25.9852814,17 23.5,17 C21.0147186,17 19,19.0147186 19,21.5 C19,23.9852814 21.0147186,26 23.5,26 Z M23.5,24.2 C22.0088312,24.2 20.8,22.9911688 20.8,21.5 C20.8,20.0088312 22.0088312,18.8 23.5,18.8 C24.9911688,18.8 26.2,20.0088312 26.2,21.5 C26.2,22.9911688 24.9911688,24.2 23.5,24.2 Z"
                                                         fill="#00ddff" fill-rule="nonzero"></path>
                                                      <rect stroke="#00ddff" stroke-width="2.5" x="1.25"
                                                         y="1.25" width="43.5" height="43.5" rx="4">
                                                      </rect>
                                                   </g>
                                                   <rect x="0" y="0" width="50" height="50"></rect>
                                                </g>
                                                <rect x="0" y="0" width="50" height="50"></rect>
                                             </g>
                                          </g>
                                       </svg>
                                            </div>
                                            <div class="service-title fw600"> BRANDING</div>
                                        </div>
                                    </div>
                                </div>
                                <div id="col-gmd0745e" class="wp-block-gutentor-m4-col col-gmd0745e gutentor-single-column grid-lg-4 grid-md-4 grid-12">
                                    <div id="section-gmd0745e" class="section-gmd0745e gutentor-col-wrap">
                                        <div class="service-box text-center style1">
                                            <div class="icon">
                                                <svg width="50px" height="50px" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
                                          DIGITAL STRATEGY 
                                          <g fill="none"
                                             fill-rule="evenodd">
                                             <g>
                                                <rect x="0" y="0" width="50" height="50"></rect>
                                                <g>
                                                   <g fill="#00ddff" fill-rule="nonzero">
                                                      <path
                                                         d="M6.33333152,45 C2.83553069,45 1.56128576e-06,41.9424832 1.56128576e-06,38.170845 L1.56128576e-06,13.9053835 C-0.000690444273,12.8446675 0.228664239,11.7984739 0.669078613,10.8518067 L4.20849976,3.2168764 C4.61057913,2.34859864 5.43329015,1.8 6.33333152,1.8 C7.23337289,1.8 8.05608391,2.34859864 8.45795741,3.21643207 L11.9969152,10.8503658 C12.4379988,11.7984739 12.6673535,12.8446675 12.6666617,13.904581 L12.6666617,38.170845 C12.6666617,41.9424832 9.83113235,45 6.33333152,45 Z M6.33333152,42.723615 C8.66519874,42.723615 10.5555519,40.6852704 10.5555519,38.170845 L10.5555519,13.9037785 C10.5560124,13.1980149 10.4034077,12.5019139 10.1092568,11.8696347 L6.56942394,4.23381571 C6.52474845,4.1373404 6.43333612,4.076385 6.33333152,4.076385 C6.23332692,4.076385 6.14191459,4.1373404 6.09703323,4.23426003 L2.55673703,11.8710757 C2.26325533,12.5019139 2.11065068,13.1980149 2.11111137,13.904581 L2.11111137,38.170845 C2.11111137,40.6852704 4.0014643,42.723615 6.33333152,42.723615 Z">
                                                      </path>
                                                      <path
                                                         d="M1.08108108,12.6 L11.5855856,12.6 C12.1826502,12.6 12.6666667,12.1970563 12.6666667,11.7 C12.6666667,11.2029437 12.1826502,10.8 11.5855856,10.8 L1.08108108,10.8 C0.484016487,10.8 0,11.2029437 0,11.7 C0,12.1970563 0.484016487,12.6 1.08108108,12.6 Z">
                                                      </path>
                                                      <path
                                                         d="M1.05555556,37.8 L11.6111111,37.8 C12.1940783,37.8 12.6666667,37.3970563 12.6666667,36.9 C12.6666667,36.4029437 12.1940783,36 11.6111111,36 L1.05555556,36 C0.47258832,36 0,36.4029437 0,36.9 C0,37.3970563 0.47258832,37.8 1.05555556,37.8 Z">
                                                      </path>
                                                      <path
                                                         d="M21.4588235,0 L35.5411765,0 C36.8991472,0 38,1.09967933 38,2.45620253 L38,41.6437975 C38,43.0003207 36.8991472,44.1 35.5411765,44.1 L21.4588235,44.1 C20.1008528,44.1 19,43.0003207 19,41.6437975 L19,2.45620253 C19,1.09967933 20.1008528,0 21.4588235,0 Z M21.4588235,2.23291139 C21.3353716,2.23291139 21.2352941,2.33288224 21.2352941,2.45620253 L21.2352941,41.6437975 C21.2352941,41.7671178 21.3353716,41.8670886 21.4588235,41.8670886 L35.5411765,41.8670886 C35.6646284,41.8670886 35.7647059,41.7671178 35.7647059,41.6437975 L35.7647059,2.45620253 C35.7647059,2.33288224 35.6646284,2.23291139 35.5411765,2.23291139 L21.4588235,2.23291139 Z">
                                                      </path>
                                                      <path
                                                         d="M20.9387755,9.9 L26.1088435,9.9 C26.6799135,9.9 27.1428571,9.49705627 27.1428571,9 C27.1428571,8.50294373 26.6799135,8.1 26.1088435,8.1 L20.9387755,8.1 C20.3677056,8.1 19.9047619,8.50294373 19.9047619,9 C19.9047619,9.49705627 20.3677056,9.9 20.9387755,9.9 Z">
                                                      </path>
                                                      <path
                                                         d="M20.9387755,18.9 L26.1088435,18.9 C26.6799135,18.9 27.1428571,18.4970563 27.1428571,18 C27.1428571,17.5029437 26.6799135,17.1 26.1088435,17.1 L20.9387755,17.1 C20.3677056,17.1 19.9047619,17.5029437 19.9047619,18 C19.9047619,18.4970563 20.3677056,18.9 20.9387755,18.9 Z">
                                                      </path>
                                                      <path
                                                         d="M20.9387755,27 L26.1088435,27 C26.6799135,27 27.1428571,26.5970563 27.1428571,26.1 C27.1428571,25.6029437 26.6799135,25.2 26.1088435,25.2 L20.9387755,25.2 C20.3677056,25.2 19.9047619,25.6029437 19.9047619,26.1 C19.9047619,26.5970563 20.3677056,27 20.9387755,27 Z">
                                                      </path>
                                                      <path
                                                         d="M20.9387755,36 L26.1088435,36 C26.6799135,36 27.1428571,35.5970563 27.1428571,35.1 C27.1428571,34.6029437 26.6799135,34.2 26.1088435,34.2 L20.9387755,34.2 C20.3677056,34.2 19.9047619,34.6029437 19.9047619,35.1 C19.9047619,35.5970563 20.3677056,36 20.9387755,36 Z">
                                                      </path>
                                                   </g>
                                                   <rect x="0" y="0" width="45" height="45"></rect>
                                                </g>
                                             </g>
                                          </g>
                                       </svg>
                                            </div>
                                            <div class="service-title fw600"> DIGITAL STRATEGY</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
            <section id="gma5caed1" class="wp-block-gutentor-m3 section-gma5caed1 gutentor-module gutentor-container-cover">
                <div class="grid-container">
                    <section id="gmac96d23" class="wp-block-gutentor-m4 section-gmac96d23 gutentor-module gutentor-advanced-columns">
                        <div class="grid-container">
                            <div class="grid-row">
                                <div id="col-gmbac294" class="wp-block-gutentor-m4-col col-gmbac294 gutentor-single-column grid-lg-12 grid-md-12 grid-12">
                                    <div id="section-gmbac294" class="section-gmbac294 gutentor-col-wrap">
                                        <div class="wp-slider horizan-carousel layout2" data-slick='{"slidesToShow":1,"slidesToScroll":1,"arrows":true,"dots":true,"fade":false,"autoplay":false,"speed":"1000","responsive":[{"breakpoint":1199,"settings":{"arrows":false,"autoplay":true}}]}'>
                                            <div class="item">
                                                <div class="grid-row">
                                                    <div class="grid-md-6 text-center">
                                                        <div class="image rel margin aligncenter" data-mb="30">
                                                            <figure>
                                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="" data-lazy-src="/assets/uploads/2020/08/digital-04-min.png">
                                                                <noscript><img
                                                      src="/assets/uploads/2020/08/digital-04-min.png"
                                                      alt=""></noscript>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                    <div class="grid-md-6 ">
                                                        <h2 class="title text-uppercase">DIGITAL TRANSFORMATION</h2>
                                                        <div class="content">
                                                            <p class="des">A high-quality solution that helps your business save time and fit your budget with continuous support.
                                                            </p>
                                                            <h3>We provide:</h3>
                                                            <ul class="business-details-list">
                                                                <li>Agile-focused development teams</li>
                                                                <li>Time and tech savings</li>
                                                                <li>Full cycle product development</li>
                                                                <li>Support business adaptation process</li>
                                                            </ul>
                                                            <p><a class="wp-btn" href="project/smartos/" tabindex="0" target="_blank">View Case Study</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="grid-row">
                                                    <div class="grid-md-6 text-center">
                                                        <div class="image rel margin aligncenter" data-mb="30">
                                                            <figure>
                                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="" data-lazy-src="/assets/uploads/2020/08/startup-02-min.png">
                                                                <noscript><img
                                                      src="/assets/uploads/2020/08/startup-02-min.png"
                                                      alt=""></noscript>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                    <div class="grid-md-6 ">
                                                        <h2 class="title text-uppercase">Startups</h2>
                                                        <div class="content">
                                                            <p class="des">A perfect package for startup and small entrepreneurs who are looking for a solution with minimum risks and full stages with low budget.
                                                            </p>
                                                            <h3>We provide</h3>
                                                            <ul class="business-details-list">
                                                                <li>Fast track planning stage</li>
                                                                <li>Time and tech savings</li>
                                                                <li>Launching and Marketing support</li>
                                                            </ul>
                                                            <p><a class="wp-btn" href="/project/actable-ai/" tabindex="0" target="_blank">View Case Study</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item">
                                                <div class="grid-row">
                                                    <div class="grid-md-6 text-center">
                                                        <div class="image rel margin aligncenter" data-mb="30">
                                                            <figure>
                                                                <img src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20viewBox='0%200%200%200'%3E%3C/svg%3E" alt="" data-lazy-src="/assets/uploads/2020/08/team-extension-03-min.png">
                                                                <noscript><img
                                                      src="/assets/uploads/2020/08/team-extension-03-min.png"
                                                      alt=""></noscript>
                                                            </figure>
                                                        </div>
                                                    </div>
                                                    <div class="grid-md-6 ">
                                                        <h2 class="title text-uppercase">Team extension</h2>
                                                        <div class="content">
                                                            <p class="des">Fast recruiting with skilled and experienced developers under your management.
                                                            </p>
                                                            <h3>We provide:</h3>
                                                            <ul class="business-details-list">
                                                                <li>Fast recruiting suitable developers</li>
                                                                <li>Direct access to developers</li>
                                                                <li>Project manager under flat-rate billing</li>
                                                                <li>Adapt to your current team</li>
                                                            </ul>
                                                            <p><a class="wp-btn" href="project/reebonz/" tabindex="0" target="_blank">View Case Study</a></p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
            