<div class="first-site">
  <section
    id="fullscreen"
    class="wp-block-gutentor-m3 section-gm166c5ee gutentor-module gutentor-container-cover"
  >
    <div class="grid-container">
      <div class="bubbles_wrap">
        <div class="cloud">
          <marquee
            direction="right"
            width="100%"
            scrolldelay="100"
            scrollamount="1.5"
            onmouseover="this.stop()"
            onmouseout="this.start()"
          ><img
              class="cloudimg"
              src="/images/Clound_3_bg.png"
              style="margin-top: -7%;"
            /></marquee>
          <marquee width="100%" scrolldelay="1" scrollamount="2.2"><img
              class="cloudimg"
              src="/images/Clound_3_bg.png"
            /></marquee>
        </div>
      </div>
      <div
        class="wp-slider horizan-carousel layout3"
        data-slick='{"slidesToShow":1,"slidesToScroll":1,"arrows":false,"dots":true,"fade":true,"autoplay":false,"speed":"1500","responsive":[{"breakpoint":1199,"settings":{"arrows":false,"autoplay":true}}]}'
      >
        <div class="item">
          <div class="grid-row">
            <div class="grid-md-5">
              <div class="image rel margin alignright" data-mb="30">
                <figure>
                  <video loop autoplay muted width="470" height="470">
                    <source
                      style="width: 470; height: 470;"
                      src="/images/Animation-6-GIF.mp4"
                      type="video/mp4"
                    />
                    Your browser does not support HTML video.
                  </video>
                </figure>
              </div>
            </div>
            <div class="grid-md-7 alignright">
              <h2 class="title text-uppercase">
                <br /><br />S - Company
                <br />pioneering company in
                <span class="stroke">simulated Soft - Skill </span>training
                platform.
              </h2>
              <div class="content">- A
                <br />
                - B
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>