<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/Logo.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" id="font-awesome-5-all-css" href="/assets/library/font-awesome/css/all.min.css" media="all">
    <title>Horizan | The S Company In Danang</title>
    <link rel="stylesheet" href="/css/app.css" data-minify="1">
    <link rel="stylesheet" href="/css/views/core.css" id='gutentor-dynamic-css'>
    <link rel="stylesheet" href="/css/views/custom.css" id="wp-custom-css">
    <style>
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important
        }
    </style>
    <script src='/assets/includes/js/jquery/jquery.min.js?ver=3.5.1' id='jquery-core-js'></script>
</head>
<body class="home page-template-default page page-id-5 wp-embed-responsive gutentor-active">
    <dir class="app">
        <header id="site-header" class="header-footer-group" role="banner">
            {{>header}}
        </header>
        {{>headermini}}
        <main id="site-content" role="main">
            {{{body}}}
        </main>
        {{>section}}
        <footer id="site-footer" class="footer-group">
            {{> footer}}
        </footer>
    </dir>
    <a class="to-the-top" href="javascript:void(0);">
        <span class="to-the-top-long">
            <svg
               xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1"
               x="0px" y="0px" viewBox="0 0 492 492" xml:space="preserve">
               <g>
                  <g>
                     <path
                        d="M198.608,246.104L382.664,62.04c5.068-5.056,7.856-11.816,7.856-19.024c0-7.212-2.788-13.968-7.856-19.032l-16.128-16.12 C361.476,2.792,354.712,0,347.504,0s-13.964,2.792-19.028,7.864L109.328,227.008c-5.084,5.08-7.868,11.868-7.848,19.084 c-0.02,7.248,2.76,14.028,7.848,19.112l218.944,218.932c5.064,5.072,11.82,7.864,19.032,7.864c7.208,0,13.964-2.792,19.032-7.864 l16.124-16.12c10.492-10.492,10.492-27.572,0-38.06L198.608,246.104z">
                      </path>
                    </g>
               </g>
            </svg>
         </span>
    </a>
    
    <script data-cfasync="false" src="/assets/includes/js/email-decode.min.js"></script>
    <script src='/assets/js/jquery.counterup.min.js?ver=1.9.3' id='countUp-js' defer></script>
    <script src='/assets/library/waypoints/jquery.waypoints.min.js?ver=4.0.1' id='waypoints-js' defer></script>
    <script id='ppress-frontend-script-js-extra'>
        var pp_ajax_form = {
            "ajaxurl": "https:\/\/horizan.com\/wp-admin\/admin-ajax.php",
            "confirm_delete": "Are you sure?",
            "deleting_text": "Deleting...",
            "deleting_error": "An error occurred. Please try again.",
            "nonce": "e5502847ad",
            "disable_ajax_form": "false"
        };
    </script>
    <script src='/assets/plugins/wp-user-avatar/js/frontend.min.js?ver=3.1.18' id='ppress-frontend-script-js' defer></script>
    <script src='/assets/js/isotope.min.js?ver=5.7' id='isotope-js' defer></script>
    <script src='/assets/js/slick.min.js?ver=5.7' id='enouvo-slick-js' defer></script>
    <script id='index-js-extra'>
        var ajax_script = {
            "ajaxurl": "https:\/\/horizan.com\/wp-admin\/admin-ajax.php"
        };
    </script>
    <script data-minify="1" src='/assets/js/index.js' id='index-js' defer></script>
    <script src='/assets/library/magnific-popup/jquery.magnific-popup.min.js?ver=1.1.0' id='magnific-popup-js' defer></script>
    <script>
        window.lazyLoadOptions = {
            elements_selector: "img[data-lazy-src],.rocket-lazyload,iframe[data-lazy-src]",
            data_src: "lazy-src",
            data_srcset: "lazy-srcset",
            data_sizes: "lazy-sizes",
            class_loading: "lazyloading",
            class_loaded: "lazyloaded",
            threshold: 300,
            callback_loaded: function(element) {
                if (element.tagName === "IFRAME" && element.dataset.rocketLazyload == "fitvidscompatible") {
                    if (element.classList.contains("lazyloaded")) {
                        if (typeof window.jQuery != "undefined") {
                            if (jQuery.fn.fitVids) {
                                jQuery(element).parent().fitVids()
                            }
                        }
                    }
                }
            }
        };
        window.addEventListener('LazyLoad::Initialized', function(e) {
            var lazyLoadInstance = e.detail.instance;
            if (window.MutationObserver) {
                var observer = new MutationObserver(function(mutations) {
                    var image_count = 0;
                    var iframe_count = 0;
                    var rocketlazy_count = 0;
                    mutations.forEach(function(mutation) {
                        for (i = 0; i < mutation.addedNodes.length; i++) {
                            if (typeof mutation.addedNodes[i].getElementsByTagName !== 'function') {
                                return
                            }
                            if (typeof mutation.addedNodes[i].getElementsByClassName !== 'function') {
                                return
                            }
                            images = mutation.addedNodes[i].getElementsByTagName('img');
                            is_image = mutation.addedNodes[i].tagName == "IMG";
                            iframes = mutation.addedNodes[i].getElementsByTagName('iframe');
                            is_iframe = mutation.addedNodes[i].tagName == "IFRAME";
                            rocket_lazy = mutation.addedNodes[i].getElementsByClassName('rocket-lazyload');
                            image_count += images.length;
                            iframe_count += iframes.length;
                            rocketlazy_count += rocket_lazy.length;
                            if (is_image) {
                                image_count += 1
                            }
                            if (is_iframe) {
                                iframe_count += 1
                            }
                        }
                    });
                    if (image_count > 0 || iframe_count > 0 || rocketlazy_count > 0) {
                        lazyLoadInstance.update()
                    }
                });
                var b = document.getElementsByTagName("body")[0];
                var config = {
                    childList: !0,
                    subtree: !0
                };
                observer.observe(b, config)
            }
        }, !1)
    </script>
    <script data-no-minify="1" async src="/assets/plugins/wp-rocket/lazyload/16.1/lazyload.min.js"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-143873997-2');
    </script>
    <style type="text/css">
        #hisella-minimize {
            width: 50px;
            height: 50px;
            margin-bottom: 15px
        }
        
        .hisella-messages {
            position: fixed;
            bottom: 0;
            right: 0;
            width: 250px;
            z-index: 9
        }
        
        .hisella-messages {
            bottom: -300px;
            right: -170px
        }
    </style>
    <div id='fb-root'></div>
    <div class="hisella-messages">
        <div class="hisella-messages-outer">
            <div id="hisella-minimize">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512.05 512.05" style="enable-background:new 0 0 512.05 512.05;" xml:space="preserve">
                  <path style="fill:#00ddff;"
                     d="M256.025,0.05C117.67-2.678,3.184,107.038,0.025,245.383c0.361,70.423,31.544,137.157,85.333,182.613 v73.387c0,5.891,4.776,10.667,10.667,10.667c1.999,0,3.958-0.562,5.653-1.621l59.456-37.141 c30.292,11.586,62.459,17.494,94.891,17.429c138.355,2.728,252.841-106.988,256-245.333C508.866,107.038,394.38-2.678,256.025,0.05z "></path>
                    <path style="fill:#FAFAFA;"
                     d="M424.558,174.983c-3.174-4.254-8.993-5.527-13.653-2.987l-110.933,60.48l-69.013-59.179 c-4.232-3.628-10.544-3.387-14.485,0.555l-128,128c-4.153,4.178-4.133,10.932,0.046,15.085c3.341,3.321,8.464,4.057,12.605,1.811 l110.933-60.48l69.077,59.2c4.232,3.628,10.544,3.387,14.485-0.555l128-128C427.35,185.148,427.75,179.215,424.558,174.983z"></path>
                  </svg>
            </div>
            <div id="hisella-facebook" data-show='false' class='fb-page' data-adapt-container-width='true' data-height='300' data-hide-cover='false' data-href='https://www.facebook.com/horizan/' data-show-facepile='true' data-show-posts='false' data-small-header='false'
                data-tabs='messages' data-width='250'></div>
        </div>
    </div>
    <script>
        jQuery(document).ready(function($) {
            $("body").on("contextmenu", function(e) {
                return false;
            });
            $(document).keydown(function(event) {
                if (event.keyCode == 123) {
                    return false;
                } else if (event.ctrlKey && event.shiftKey && event.keyCode == 73 || event.ctrlKey && event.keyCode == 85) {
                    return false;
                }
            });
        });
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>